# **Aula 1 - Conhecendo a biblioteca Matplotlib**

##**Conhecendo os dados**

### Importando os dados

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('imigrantes_canada.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   País        195 non-null    object
 1   Continente  195 non-null    object
 2   Região      195 non-null    object
 3   1980        195 non-null    int64
 4   1981        195 non-null    int64
 5   1982        195 non-null    int64
 6   1983        195 non-null    int64
 7   1984        195 non-null    int64
 8   1985        195 non-null    int64
 9   1986        195 non-null    int64
 10  1987        195 non-null    int64
 11  1988        195 non-null    int64
 12  1989        195 non-null    int64
 13  1990        195 non-null    int64
 14  1991        195 non-null    int64
 15  1992        195 non-null    int64
 16  1993        195 non-null    int64
 17  1994        195 non-null    int64
 18  1995        195 non-null    int64
 19  1996        195 non-null    int64
 20  1997        195 non-null    int64
 21  1998        195 non-null    int64
 22  1999        195 non-null    int64
 23  2000        195 non-null    int64
 24  2001        195 non-null    int64
 25  2002        195 non-null    int64
 26  2003        195 non-null    int64
 27  2004        195 non-null    int64
 28  2005        195 non-null    int64
 29  2006        195 non-null    int64
 30  2007        195 non-null    int64
 31  2008        195 non-null    int64
 32  2009        195 non-null    int64
 33  2010        195 non-null    int64
 34  2011        195 non-null    int64
 35  2012        195 non-null    int64
 36  2013        195 non-null    int64
 37  Total       195 non-null    int64
dtypes: int64(35), object(3)
memory usage: 58.0+ KB

### Realizando alguns tratamentos

In [3]:
df.set_index('País', inplace=True)
anos = list(map(str, range(1980, 2014)))
anos

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

### Extraindo a série de dados para o Brasil

In [4]:
brasil = df.loc['Brasil', anos]
brasil_dict = {'ano': brasil.index.tolist(), 'imigrantes': brasil.values.tolist()}

dados_brasil = pd.DataFrame(brasil_dict)
dados_brasil

     ano  imigrantes
0   1980         211
1   1981         220
2   1982         192
3   1983         139
4   1984         145
5   1985         130
6   1986         205
7   1987         244
8   1988         394
9   1989         650
10  1990         650
11  1991         877
12  1992        1066
13  1993         866
14  1994         566
15  1995         572
16  1996         586
17  1997         591
18  1998         531
19  1999         626
20  2000         845
21  2001         847
22  2002         745
23  2003         839
24  2004         917
25  2005         969
26  2006        1181
27  2007        1746
28  2008        2138
29  2009        2509
30  2010        2598
31  2011        1508
32  2012        1642
33  2013        1714

In [5]:
import matplotlib.pyplot as plt

## Evolução de imigrantes brasileiros para o Canadá